* {
    box-sizing: border-box;
}

.squares {
    display: flex;
    flex-wrap: wrap;
}

.squareBorder {
    border: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.squareBackground {
    min-height: inherit;
    background: black;
    opacity: 0;
}

.button {
    margin: 1px;
}