* {
    box-sizing: border-box;
    
}

.squares {
    display: flex;
    flex-wrap: wrap;
}

.square {
    min-height: 16.5px;
    min-width: 16.5px;
    border: 1px solid black;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 1px;
}

.button {
    margin: 1px;
}